*{
    padding: 0;
    margin: 0;
}
body{
    background-color: #454545;
    color: #ffffff;
}
.calculator{
    margin: auto;
    width: 400px;
    height: 500px;
    background-color: #FF6000;
    text-align: center;
    padding: 10px;
    margin-top: 50px;
    border-radius: 20px;
}
table{
    margin: auto;
}
table tr{
    text-align: left;
}
.calculator button{
    background-color: #FFA559;
    color: #000000;
    border: none;
    padding: 5px;
    border-radius: 3px;
}